.headerAnimation {
  position: relative;
}

.headerAnimation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.headerAnimation:hover::after {
  width: 100%;
}
